.nav{
    background-color: #4752FF;
    align-items: center;
    height: 50px;
}

.nav-container{
    margin-right: 40%;
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 1%;
}


.nav-items{
    text-decoration: none;
    font-family: 'Comic Sans MS';
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #4954FF;
    margin-left: 10%;
}


.nav-item:hover{
    text-decoration: none;

}

.content{
    margin-left: 20%;
    margin-right: 20%;
}

.category{
    background-color: #4752FF;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 15%;
    height: 5%;
    font-family: 'Comic Sans MS';
    text-decoration: none;
    display: inline;
    margin: 1%;
}

.search{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Comic Sans MS';
    width: 30%;
    height: 5%;
    color: black;

}
.search-block{
    display: inline;
    margin: 1%;
}

.searching{
    position: relative;
}

.announcement{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: relative;
    width:  60%;
    height: 20%;
}

.announcement:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.announcement-block{
    background-color: rgb(255, 255, 255);
}

.announcement-block:hover{
    background-color: #7F8284;
}

.forms-label{
    margin: 1%;
}


.picture{
    position: absolute;
    right: 1px;
    top: 1px;

}