.nav{
    background-color: #4752FF;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.nav-container{
    margin-right: 40%;
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 1%;
    font-family: 'Arial';
}


.nav-items{
    text-decoration: none;
    font-family: 'Arial';
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #4954FF;
    margin-left: 10%;
}


.nav-item:hover{
    text-decoration: none;

}

.content{
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    top: 55px;
    z-index: 1;
}

.category{
    background-color: #4752FF;
    color: rgb(255, 255, 255);
    font-size: 25px;
    width: 15%;
    height: 5%;
    font-family: 'Arial';
    text-decoration: none;
    display: inline;
    margin: 1%;
}

.search{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Arial';
    width: 30%;
    height: 5%;
    color: black;

}
.search-block{
    margin: 1%;
}

.searching{
    position: relative;
    font-family: 'Arial';
}

.announcement{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: relative;
    width:  60%;
    height: 20%;
    font-family: 'Arial';
}

.announcement:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.announcement-block{
    background-color: #EBEBEB;
    border: 0px solid;
    border-radius: 3px;
    padding: 4px;
}

.announcement-block:hover{
    background-color: #7F8284;
}

.forms-label{
    margin: 1%;
}


.picture{
    position: absolute;
    right: 1px;
    top: 1px;
}

.announcement-view-actions{
    font-family: 'Arial';
}

.announcement-view-date{
    font-size: 25px;
}

.announcement-view-address{
    font-size: 25px;
}

.announcement-view-content{
    font-size: 25px;
}

.announcement-view-user{
    position: absolute;
    top: 10%;
    right: 10%;
}

.personal-info{
    font-size: 15px;
}
