{% extends "base.html" %}
{% block content %}
<div class="announcement-view-actions">
    <a class="btn btn-warning" href="/announcement-edit/{{announcement.id}}">Редактировать</a>
    <a class="btn btn-danger" href="/announcement-delete/{{announcement.id}}">Удалить</a>
    <a class="btn btn-primary" href="/following/{{announcement.id}}">Добавить</a>
    <a class="btn btn-primary" href="/basket_add/{{announcement.id}}">В корзину</a>
</div>
<div class="announcement-view-block">
    <div class="announcement-view-user">
        {{announcement.user.name}}
    </div>
    <div class="announcement-view-title">
        <h2>{{announcement.title}}</h2>
    </div>
    <div class="announcement-view-date">
        {{announcement.created_date}}
    </div>
    <div class="announcement-view-picture">
        <img src="{{pictures}}" alt="Не удалось загрузить файл">
    </div>
    <div class="announcement-view-content">
        {{announcement.content}}
    </div>
    <div class="announcement-view-address">
        {{announcement.address}}
    </div>
</div>

{% endblock %}