{% extends "base.html" %}
{% block content %}
<div class="announcement-view-actions">
    <a class="btn btn-warning" href="/announcement-edit/{{announcement.id}}">Редактировать</a>
    <a class="btn btn-danger" href="/announcement-delete/{{announcement.id}}">Удалить</a>
    {% if in_following %}
        <a class="btn btn-primary" href="/following-delete/{{announcement.id}}">В избранном</a>
    {% elif personal_ann %}
    {% else %}
        <a class="btn btn-primary" href="/following/{{announcement.id}}">Добавить</a>
    {% endif %}
</div>
<div class="announcement-view-block">
    <div class="announcement-view-user">
        <a href="#">{{announcement.user.name}}</a>
    </div>
    <div class="announcement-view-title">
        <h2>{{announcement.title}}</h2>
    </div>
    <div class="announcement-view-date">
        {{announcement.created_date}}
    </div>
    <div class="announcement-view-picture">
        <img src="{{pictures}}" alt="Не удалось загрузить файл">
    </div>
    <div class="announcement-view-content">
        {{announcement.content}}
    </div>
    <div class="announcement-view-address">
        {{announcement.address}}
    </div>
</div>

{% endblock %}