{% extends "base.html" %}
{% block content %}
<div class="searching">
    <button class="btn category">Категории</button>
    <input class="search" type="text">
</div>
<div class="announcements">
    {% for item in announcements%}
        <div class="announcement-block">
            <a class="announcement" href="/{{item.id}}">
                <h2>{{item.title}}</h2>
                <div>
                    {{item.content}}
                </div>
                <div>
                    Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}